# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# =========================
# Virtual environments
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Env files / secrets
# =========================
.env

# =========================
# Data (keep folders, ignore contents)
# =========================
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# =========================
# Logs
# =========================
logs/
*.log
# =========================
# Database
# =========================
*.db
smart_insurance.db